<!-- index.html -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuário</title>
</head>
<body>
    <form method="POST" action="/users/">
        {% csrf_token %}
        <input type="text" name="name" required placeholder="Nome">
        <input type="email" name="email" required placeholder="Email">
        <textarea name="message" placeholder="Sua mensagem">
        </textarea> <!-- Campo de mensagem -->
        <input type="password" name="password" required placeholder="Senha">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>